:root {
  --neon-color: rgb(0, 238, 255);
}

* {
  font-family: "PT Mono", monospace;
  background-color: #1a1919;
}

body {
  padding: 60px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 90%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h2,
h3 {
  color: #ffff;
  text-transform: capitalize;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

span {
  position: relative;
  color: aqua;
}

span:before {
  position: absolute;
  content: "";
  height: 0.2em;
  width: 80%;
  bottom: 0.1em;
  z-index: -1;
  background: #ecedeb;
}

.card-show {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin: 0px 20px 30px 20px;
  max-width: 400px;
  /* margin-bottom: 30px;
  margin-right: 20px; */
  overflow: hidden;
  position: relative;
  border: 5px solid;
  border-image-source: linear-gradient(
    to bottom right,
    rgb(97, 87, 255),
    rgb(0, 230, 204)
  );
  border-image-slice: 4;
}

.card-hidden {
  display: none;
}

.card-show p {
  background-color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card-show img {
  width: 100%;
  max-height: 250px;
}

.card-max {
    background-color: #121212;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    /* transform-origin: center; */
    width: 100%;
    z-index: 999998;
    /* -webkit-animation: _2J0b5A_NtMWaZ37camHF0K 0.2s ease-out;
    animation: _2J0b5A_NtMWaZ37camHF0K 0.2s ease-out; */
}

.card-max .btnContainer {
  position: absolute;
  top: 150px;
  left: 400px;
  z-index: 99999;
  padding: 0.5em;
  display: flex;
  background: transparent;
  width: 100%;
}

.btnContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 0.5em;
  display: flex;
  background: transparent;
  width: 100%;
}

.btnContainer button {
  margin-left: 5px;
  margin-right: 5px;
}

.light {
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgb(97, 87, 255);
  position: relative;
  font-weight: bold;
  border: 5px solid;
  border-image-source: linear-gradient(
    to bottom right,
    rgb(97, 87, 255),
    rgb(0, 230, 204)
  );
  border-image-slice: 4;
}

.light::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 50px rgb(0, 230, 204);
  filter: blur(10px) brightness(0);
  animation: flicker 3s linear infinite;
  animation-delay: 2s;
}

@keyframes flicker {
  0% {
    filter: blur(5px) brightness(1);
  }
  3% {
    filter: blur(5px) brightness(0);
  }
  6% {
    filter: blur(5px) brightness(1);
  }
  7% {
    filter: blur(5px) brightness(1);
  }
  8% {
    filter: blur(5px) brightness(0);
  }
  9% {
    filter: blur(5px) brightness(1);
  }
  10% {
    filter: blur(5px) brightness(0);
  }
  20% {
    filter: blur(5px) brightness(1);
  }
}

.action-btn {
  opacity: 75%;
  padding: 5px 10px;
  border: 2px solid;
  border-image-source: linear-gradient(
    to bottom right,
    rgb(97, 87, 255),
    rgb(0, 230, 204)
  );
  border-image-slice: 4;
}


